<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Cliente</title>
</head>
<body>
    <div class="containerLoginCliente">
        <img id="logoLoginCliente" src="../../../assets/img/Logo.png" alt="" [routerLink]="['/']">
        <div class="containerInfo">
            <mat-card class="cardIniciarSesion">
                <div class="containerTitulos">
                    <h1>Iniciar sesión</h1>
                    <h3>¿No tienes cuenta?</h3>
                    <h2 [routerLink]="['/registroCliente']">Regístrate</h2>
                </div>
            <div class="containerBotones">
                <button id="botonFB" mat-button >Continuar con Facebook</button>
                <button id="botonGoogle" mat-button >Continuar con Google</button>
            </div>
            <form [formGroup]="loginForm" (ngSubmit)="login()" >
            <div class="formulario">
                <mat-form-field class="example-full-width">
                    <mat-label>Ingresa tu Correo Electrónico</mat-label>
                    <input formControlName="correo" type="email" matInput 
                           placeholder="Ej. JuanR@ejemplo.com">
                    <mat-hint>Ingrese Correo Válido</mat-hint>
                    <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                      Por favor registre un correo válido
                    </mat-error>
                    <mat-error *ngIf="emailFormControl.hasError('required')">
                      El correo es <strong>requerido</strong>
                    </mat-error>
                  </mat-form-field>
                  <mat-form-field>
                    <mat-label>Ingresa tu Contraseña</mat-label>
                    <input formControlName="contraseña" type="password" matInput>
                    <mat-hint>Ingrese Contraseña valuida</mat-hint>
                    <mat-error *ngIf="!password.hasError('required')">
                      Por favor ingrese contraseña valida
                    </mat-error>
                    <mat-error *ngIf="password.hasError('required')">
                      La contraseña es <strong>requerida</strong>
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="containerBotonIniciarSesion">
                <button mat-button id="botonIniciarSesionCliente" type="submit">Iniciar sesión</button>
            </div>
          </form>
            </mat-card>
        </div>
    </div>
    <app-footer></app-footer>
</body>
</html>
