<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Cliente</title>
</head>
<body>
    <app-navbar></app-navbar>
    <div class="containerLoginCliente">
        <img id="logoLoginCliente" src="../../../assets/img/Logo.png" alt="">
        <div class="containerInfo">
            <mat-card class="cardIniciarSesion">
                <div class="containerTitulos">
                    <h1>Iniciar Sesion</h1>
                    <h3>No tienes cuenta?</h3>
                    <h2 [routerLink]="['/registroCliente']">Registrate</h2>
                </div>
            <div class="containerBotones">
                <button id="botonFB" mat-button >Continuar con Facebook</button>
                <button id="botonGoogle" mat-button >Continuar con Google</button>
            </div>
            <div class="formulario">
                <mat-form-field>
                    <mat-label>Correo Electronico</mat-label>
                    <input matInput placeholder="Ingrese su correo Electronico" required id="correo">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Contraseña</mat-label>
                    <input matInput type="password" placeholder="Ingrese su contraseña" required id="contraseña">
                </mat-form-field>
            </div>
            <div class="containerBotonIniciarSesion">
                <button mat-button id="botonIniciarSesionCliente">Iniciar Sesion</button>
            </div>
            </mat-card>
        </div>
    </div>
    <app-footer></app-footer>
</body>
</html>
