@import "/src/styles.scss";

#footer{
    margin-top: 50px;
    background-color: $azulTerciario;
}

.containerFooter{
    display: flex !important;
    flex-direction: row !important;
    width:inherit;
    justify-content: space-evenly;
}


.info1{
    color: $hueso;
    font-size:x-small;
    font-weight:600;
}