@import '../../../styles.scss';

.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 800px
}

#botonVer{
    width: max-content;
    height: max-content;
    margin-left: 2px;
}

#titulo{
    font-size:small;
    color: white;
    align-self: end;
}

#abajoTarjeta{
    background-color: #275d8a;
    width: inherit;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.containerseccion2{
    background-color: $azulClaro;
}

#containerNuevasPlantillas{
    margin: 5px 45px 5px 45px;
}

#cardPlantillas{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-left: 450px
}

#tarjetaPlantilla{
    display: flex;
    align-items: center;
    height: 200px;
    width: 180px;
    margin-bottom: 10px
}

.img-card{
    width: 180px;
    height: 100px;
    object-fit: scale-down;
}

#columnaChica{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 3px 3px 3px 3px;
}

.row{
    justify-content: center;
}

.titulo{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-left: 230px;
}

h1{
    font-style: italic;
    font-weight: 600;
    font-size: larger;
    color: $azulProfundo;
    margin-right: 10px;
}

h3{
    font-style: italic;
    font-weight:400;
    font-size: smaller;
    color: $azulProfundo;
}

h3:hover{
    cursor: pointer;
}
