<br>
<br>
<br>
<br>
<br>
<div class="containerseccion2">
    <div class="titulo">
        <h1>Nuevas plantillas</h1>
        <h3><u>Ver mas</u></h3>
    </div>

    <br>


    <div class="container text-center" id="containerNuevasPlantillas">
        <div class="row">
            <div class="col-3" id="columnaChica"><app-tarjetas></app-tarjetas></div>
            <div class="col-2" id="columnaChica"><app-tarjetas></app-tarjetas></div>
            <div class="col-2" id="columnaChica"><app-tarjetas></app-tarjetas></div>
        </div>
        <div class="row">
          <div class="col-2" id="columnaChica"><app-tarjetas></app-tarjetas></div>
          <div class="col-2" id="columnaChica"><app-tarjetas></app-tarjetas></div>
          <div class="col-3" id="columnaChica"><app-tarjetas></app-tarjetas></div>
        </div>
      </div>
</div>
