<mat-toolbar id="navbar">
    <img class="logoMenu" src="../../assets/img/Logo.png" alt="" [routerLink]="['/home']">
    <div class="containerMenu">
        <div class="botonesNav">
            <button mat-button [matMenuTriggerFor]="menu">Mi Sitio &#11167;</button>
                <mat-menu #menu="matMenu">
                    <button [routerLink]="['/perfil-empresa']"  mat-menu-item>Paginsa1</button>
                </mat-menu>
                <div class="vl"></div>
            <button [routerLink]="['/plantillas']" class="botonPlantillas" mat-button>Plantillas</button>
            <div class="vl"></div>
            <button class="botonAyuda" mat-button>Ayuda</button>
        </div>
    </div>
    <div class="usuario">
        <div  class="vl"></div>
        <img src="{{info.fotoUrl}}" alt="" id="propic">
        <button mat-button [matMenuTriggerFor]="menuUsuario">Bienvenido {{info.nombre}} &#11167;</button>
        <mat-menu #menuUsuario="matMenu">
            <button (click)="validateUser()"  mat-menu-item>Perfil</button>
            <button [routerLink]="['/loginCliente']" (click)="logout()" mat-menu-item>Logout</button>
        </mat-menu>
        <div class="vl"></div>
    </div>
</mat-toolbar>
