#navbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.containerMenu{
    display: flex;
    flex-direction: row;
}

.logoMenu{
    width: 150px;
    height: 150px;
    object-fit: scale-down;
}

.botonesNav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}