<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <app-navbar></app-navbar>
    <div class="card-container">
        <mat-card *ngFor="let plantilla of plantillas" class="card">
          <img
            class="img-card"
            mat-card-image
            src="../../../assets/img/diigo.jpeg"
            alt=""
          />
          <mat-card-content>
            <mat-card-title>{{
              plantilla.tituloDePlantilla
            }}</mat-card-title>
            <p>{{ plantilla.descripcionPlantilla }}</p>
          </mat-card-content>
          <mat-card-actions align="end">
            <button [routerLink]="['plantillas/:form1']" routerLinkActive="router-link-active"  (click)="verPlantilla(plantilla._id)" mat-raised-button color="primary">Ver</button>
          </mat-card-actions>
        </mat-card>
      </div>
    <app-footer></app-footer>
</body>
</html>
