<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="./landing-page.component.scss">
    <title>Landing Page</title>
</head>
<body>
    <mat-toolbar id="navbarLandingPage">
        <img id="imagenLogoMenu" src="../../../assets/img/Logo.png" alt="Logo.png">
        <button id="botonMenuSitios" mat-button>Sitios Web</button>
        <button id="botonMenuPrecios" mat-button>Precios</button>
        <!-- <h1>Sitios Web</h1>
        <h1>Precios</h1> -->
    </mat-toolbar>

    <div class="contenedor">
    <div class="contenedor2">
        <div class="contenedorInfo">
            <h2>Trae tus grandes ideas a la realidad, sin arduo trabajo.</h2>
            <button id="botonCallToAction" mat-button>Empieza Ahora!</button>
        </div>
        <img id="imagenEjemplo" src="../../../assets/img/image1-landingpage.png" alt="imagenEjemplo">
    </div>
    </div>
</body>
</html>
