<div class="containerSeccion3">
    <div class="otrosPlanes">
        <br>
        <div class="titulo">
            <h1>Otros Planes</h1>
            <h3><u>Ver mas</u></h3>
        </div>
    
        <br>
    
    <div class="container">
        <div class="container text-center" id="containerDescuento">
            <div class="containerDescuentoS3">
                <img class="imagenDescuento" src="../../../assets/img/descuentoHome.webp" alt="">
                <div class="tituloDescuento">
                    <h4>10% Descuento</h4>
                    <h2>En el plan basico</h2>
                </div>
                <button mat-button class="botonDescuento">Aprovecha ahora</button>
            </div>
          </div>
    </div>
    </div>

    <div class="containerEmpresasDestacadas">
        <br>
        <div class="titulo">
            <h1>Empresas Destacadas</h1>
            <h3><u>Ver mas</u></h3>
        </div>
    
        <br>
    
    <div class="containerCaruselEmpresa">
        <div class="container text-center" id="containerDescuento">
            <div class="containerDescuentoS3">
                <img class="imagenDescuento" src="../../../assets/img/descuentoHome.webp" alt="">
                <div class="tituloDescuento">
                    <h4>10% Descuento</h4>
                    <h2>En el plan basico</h2>
                </div>
                <button mat-button class="botonDescuento">Aprovecha ahora</button>
            </div>
          </div>
    </div>
    </div>

</div>
