@import "/src/styles.scss";

body {
    background-color: $azulProfundo;

}

div.adminPerfil {
    img {
        height: 120px;
        right: 80px;
        margin-top: 10px;
        border-radius: 100%;
    }

    p {
        margin-top: 10px;
    }

    .bienvenido {
        font-size: large;
    }

    .nombreAdmin {
        font-size: xx-large;
    }



    display: flex;
    align-items: center;
    flex-direction: column;
    color: #FFFFFF;
}