<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administrador</title>
</head>
<body>

    <div class="adminPerfil">
        <p class="bienvenido">Bienvenido</p>
        <p class="nombreAdmin">{{administradores[0].nombre}}</p>
        <img src="../../../assets/img/fotoPerfil.webp" alt="">
    </div>
    <div>
        <button mat-button color="primary">Primary</button>
        <button mat-button color="warn">Warn</button>
         <mat-tab-group>
            <mat-tab label="First">Content 1</mat-tab>
            <mat-tab label="Second">Content 2</mat-tab>
            <mat-tab label="Third">Content 3</mat-tab>
        </mat-tab-group> 
    </div>
    
</body>
</html>