<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Administrador</title>
  </head>
  <body>
    <app-navbar></app-navbar>

    <div class="container">
      <h1>Administrador</h1>
      <mat-card class="card-administrador">
        <div class="adminPerfil">
          <p class="bienvenido">Bienvenido/a</p>
          <p class="nombreAdmin">
            {{ administradores[0].nombre }} {{ administradores[0].apellido }}
          </p>
          <img src="../../../assets/img/fotoPerfil.webp" alt="" />
        </div>
        <mat-tab-group color="primary" mat-align-tabs="center" class="tabs">
          <mat-tab id="admi-tab" label="Administracion de Plantillas">
            <div class="plantillas">
              <p class="plantillasTexto">Plantillas Disponibles</p>
              <button
                [routerLink]="['/admin/code-box']"
                class="btn-aggPlantilla"
                mat-raised-button
                color="primary"
              >
                Agragar Nueva Plantilla <fa-icon [icon]="faPlus"></fa-icon>
              </button>
            </div>
            <div class="card-container">
              <mat-card *ngFor="let plantilla of plantillas" class="card">
                <img
                  class="img-card"
                  mat-card-image
                  src="../../../assets/img/diigo.jpeg"
                  alt=""
                />
                <mat-card-content>
                  <mat-card-title>{{
                    plantilla.tituloDePlantilla
                  }}</mat-card-title>
                  <p>{{ plantilla.descripcionPlantilla }}</p>
                </mat-card-content>
                <mat-card-actions align="end">
                  <button (click)="verPlantilla(plantilla._id)" mat-raised-button color="primary">Editar</button>
                </mat-card-actions>
              </mat-card>
            </div>
          </mat-tab>

          <mat-tab label="Gestion de Planes">
            <div class="plantillas">
              <p class="plantillasTexto">Planes Disponibles</p>
              <button
                class="btn-aggPlantilla"
                mat-raised-button
                color="primary"
              >
                Agragar Nuevo Plan <fa-icon [icon]="faPlus"></fa-icon>
              </button>
            </div>
            <div class="tabla">
              <table
                mat-table
                id="tabla-planes"
                [dataSource]="planes"
                class="mat-elevation-z8 tabla-planes"
                multiTemplateDataRows
              >
                <ng-container matColumnDef="Tipo de Plan">
                  <th class="th" mat-header-cell *matHeaderCellDef>
                    Tipo de Plan
                  </th>
                  <td class="td" mat-cell *matCellDef="let plan">
                    {{ plan.tituloDePlan }}
                  </td>
                </ng-container>

                <ng-container matColumnDef="Precio">
                  <th class="th" mat-header-cell *matHeaderCellDef>Precio</th>
                  <td class="td" mat-cell *matCellDef="let plan">
                    {{ plan.precioPlan | currency }}
                  </td>
                </ng-container>

                <ng-container matColumnDef="Accion">
                  <th class="th" mat-header-cell *matHeaderCellDef>Accion</th>
                  <td class="td" mat-cell *matCellDef="let plan">
                    <div class="btns-accion">
                      <button mat-raised-button color="primary">
                        <fa-icon [icon]="faPenToSquare"></fa-icon>
                      </button>
                      <button mat-raised-button color="primary">
                        <fa-icon [icon]="faTrash"></fa-icon>
                      </button>
                    </div>
                  </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="columnasTablaPlan"></tr>
                <tr
                  mat-row
                  *matRowDef="let row; columns: columnasTablaPlan"
                ></tr>
              </table>
            </div>
            <hr />
            <div class="card-planes-container">
              <mat-card class="card-planes">
                <div class="plan-muestra">
                  <mat-card class="muestra">
                    <p class="nombrePlan">{{ planMuestra.tituloDePlan }}</p>
                    <p class="precioPlan">
                      {{ planMuestra.precioPlan | currency }}
                    </p>
                    <div class="list">
                      <mat-list role="list">
                        <mat-list-item
                          *ngFor="
                            let caracteristica of planMuestra.caracteristicas
                          "
                          role="listitem"
                          >{{ caracteristica }}</mat-list-item
                        >
                      </mat-list>
                    </div>
                    <button
                      mat-raised-button
                      color="primary"
                      class="btn-muestra"
                    >
                      Elejir este Plan
                    </button>
                  </mat-card>
                </div>
                <div class="modificar-plan">
                  <form class="example-form">
                    <mat-form-field
                      class="example-full-width"
                      appearance="fill"
                    >
                      <mat-label>Titulo del Plan</mat-label>
                      <input
                        id="titulo"
                        matInput
                        [(ngModel)]="planMuestra.tituloDePlan"
                      />
                    </mat-form-field>

                    <mat-form-field
                      class="example-full-width"
                      appearance="fill"
                    >
                      <mat-label>Precio del Plan</mat-label>
                      <input matInput [(ngModel)]="planMuestra.precioPlan" />
                    </mat-form-field>

                    <div class="caracteristicas">
                      <mat-form-field
                        class="example-full-width"
                        appearance="fill"
                      >
                        <mat-label>Caracteristicas</mat-label>
                        <input id="cara" matInput />
                      </mat-form-field>
                      <button
                        (click)="agregarCaracteristica()"
                        class="btn-caracteristica"
                        mat-raised-button
                        color="primary"
                      >
                        <fa-icon [icon]="faPlus"></fa-icon>
                      </button>
                    </div>

                    <div class="btns-modificar">
                      <button
                        (click)="newPlan(planMuestra)"
                        class="btn-guardar"
                        mat-raised-button
                        color="primary"
                      >
                        Guardar
                      </button>

                      <button
                        (click)="limpiarMuestra()"
                        class="btn-cancelar"
                        mat-raised-button
                        color="warn"
                      >
                        Limpiar
                      </button>
                    </div>
                  </form>
                </div>
              </mat-card>
            </div>
          </mat-tab>

          <mat-tab label="Gestion de Cuentas">
            <div class="plantillas">
              <p class="plantillasTexto">Cuentas de Empresas</p>
            </div>
            <div class="tabla">
              <table
                mat-table
                id="tabla-planes"
                [dataSource]="empresas"
                class="mat-elevation-z8 tabla-planes"
              >
                <ng-container matColumnDef="Nombre de la Empresa">
                  <th class="th" mat-header-cell *matHeaderCellDef>
                    Nombre de la Empresa
                  </th>
                  <td class="td" mat-cell *matCellDef="let empresa">
                    {{ empresa.empresa[0].NombreEmpresa }}
                  </td>
                </ng-container>

                <ng-container matColumnDef="Nombre del Dueño">
                  <th class="th" mat-header-cell *matHeaderCellDef>
                    Nombre del Dueño
                  </th>
                  <td class="td" mat-cell *matCellDef="let empresa">
                    {{ empresa.nombre }} {{ empresa.Apellido }}
                  </td>
                </ng-container>

                <ng-container matColumnDef="Status">
                  <th class="th" mat-header-cell *matHeaderCellDef>Status</th>
                  <td class="td" mat-cell *matCellDef="let empresa">
                    {{ empresa.empresa[0].status }}
                  </td>
                </ng-container>

                <ng-container matColumnDef="Accion">
                  <th class="th" mat-header-cell *matHeaderCellDef>Accion</th>
                  <td class="td" mat-cell *matCellDef="let empresa">
                    <div class="btns-accion">
                      <button mat-raised-button color="primary">
                        <fa-icon [icon]="faCheck"></fa-icon>
                      </button>
                      <button mat-raised-button color="primary">
                        <fa-icon [icon]="faXmark"></fa-icon>
                      </button>
                    </div>
                  </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="columnasTablaCuentas"></tr>
                <tr
                  mat-row
                  *matRowDef="let row; columns: columnasTablaCuentas"
                ></tr>
              </table>
            </div>
            <div class="plantillas">
              <p class="plantillasTexto">Cuentas de Usuarios normales</p>
            </div>
            <div class="tabla">
              <table
                mat-table
                id="tabla-planes"
                [dataSource]="clientes"
                class="mat-elevation-z8 tabla-planes"
              >
                <ng-container matColumnDef="Nombre del Cliente">
                  <th class="th" mat-header-cell *matHeaderCellDef>
                    Nombre del Cliente
                  </th>
                  <td class="td" mat-cell *matCellDef="let cliente">
                    {{ cliente.nombre }}
                  </td>
                </ng-container>

                <ng-container matColumnDef="Status">
                  <th class="th" mat-header-cell *matHeaderCellDef>Status</th>
                  <td class="td" mat-cell *matCellDef="let cliente">
                    {{ cliente.status }}
                  </td>
                </ng-container>

                <ng-container matColumnDef="Accion">
                  <th class="th" mat-header-cell *matHeaderCellDef>Accion</th>
                  <td class="td" mat-cell *matCellDef="let cliente">
                    <div class="btns-accion">
                      <button (click)="statusTrue(cliente._id)" mat-raised-button color="primary">
                        <fa-icon [icon]="faCheck"></fa-icon>
                      </button>
                      <button (click)="statusFalse(cliente._id)" mat-raised-button color="primary">
                        <fa-icon [icon]="faXmark"></fa-icon>
                      </button>
                    </div>
                  </td>
                </ng-container>
                <tr
                  mat-header-row
                  *matHeaderRowDef="columnasTablaClientes"
                ></tr>
                <tr
                  mat-row
                  *matRowDef="let row; columns: columnasTablaClientes"
                ></tr>
              </table>
            </div>
            <hr />
            <div class="card-planes-container">
              <mat-card class="card-empresa">
                <div class="logo-nombre-empresa">
                  <img
                    class="img-logo"
                    mat-card-image
                    src="../../../assets/img/logo-Google.png"
                    alt=""
                  />
                  <div>
                    <p class="nombre-dueño">
                      {{ empresas[0].nombre }} {{ empresas[0].Apellido }}
                    </p>
                    <p class="nombre-empresa">
                      {{ empresas[0].empresa[0].NombreEmpresa }}
                    </p>
                  </div>
                </div>
                <div class="descripcion">
                  <p>{{ empresas[0].empresa[0].descripcionEmpresa }}</p>
                </div>
                <div class="plan-status">
                  <div class="plan">
                    <h3>Plan actual:</h3>
                    <p>{{ empresas[0].empresa[0].plan }}</p>
                  </div>
                  <div class="status">
                    <h3>Estatus:</h3>
                    <p>{{ empresas[0].empresa[0].status }}</p>
                  </div>
                </div>
              </mat-card>
            </div>
          </mat-tab>
        </mat-tab-group>
      </mat-card>
    </div>
    <app-footer></app-footer>
  </body>
</html>
