<mat-card class="planesTarjeta" *ngFor="let plan of planes">
    <mat-card-header class="headerTarjeta">
        <mat-card-subtitle id="subtituloTarjeta">{{plan.tituloDePlan}}</mat-card-subtitle>
      <mat-card-title id="tituloTarjeta">{{plan.precioPlan | currency}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-card id="tarjetaCaracteristicasPrecio">
        <mat-list role="list">
            <mat-list-item  *ngFor="let item of planes[0].caracteristicas
            " role="listitem">{{item}}</mat-list-item>
        </mat-list>
      </mat-card>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button class="botonPlan">Elegir este plan</button>
    </mat-card-actions>
  </mat-card>
  
