<div class="context">
    <div class="containerLoginAdmin">
        <div class="containerInfo">
            <mat-card class="cardAdminLogin">
            <form [formGroup]="loginAdminForm" (ngSubmit)="loginAdmin()" >
            <div class="formulario">
                <mat-form-field class="example-full-width">
                    <mat-label>Ingresa tu usuario administrador</mat-label>
                    <input formControlName="correoAdmin" type="email" matInput>
                  </mat-form-field>
                  <mat-form-field>
                    <mat-label>Ingresa tu Contraseña</mat-label>
                    <input formControlName="contraseñaAdmin" type="password" matInput>
                </mat-form-field>
            </div>
            <div class="containerBotonIniciarSesionAdmin">
                <button mat-button id="botonIniciarSesionAdmin" type="submit">Iniciar sesión</button>
            </div>
          </form>
            </mat-card>
        </div>
    </div>
</div>


<div class="area" >
        <ul class="circles">
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
        </ul>
</div >
